.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.marker {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #4784ff;
}