.marker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.pictogram {
    width: 24px;
    height: 24px;
}